@model IList<SimpleWebPage.Models.VMR>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var vmr in Model)
    {
        <div class="col-md-12">
            <div class="col-sm-6">
                <h4>@Html.ActionLink(vmr.name, "Detail", new { id = vmr.id, Style = "color:White;" })</h4>
            </div>

            <div class="col-sm-6">
                <h4>@vmr.description</h4>
            </div>
        </div>
    }
</div>